*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Popins", Arial, sans-serif;
  background-color: #0f172a;
  color: #e5e7eb;
  overflow-x: hidden;
}

.header{
  height: 80px;
  background: #020617;
  position: sticky;
  top: 0;
  z-index: 9999;
}

nav{
  max-width: 1200px;
  height: 100%;
  margin: auto;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  color: #38bdf8;
  font-size: 1.7rem;
}
.nav-links{
  display: flex;
  list-style-type: none;
  gap: 1.4rem;
}
.nav-links a{
  text-decoration: none;
  color: #e5e7eb;
  position: relative;
}
.nav-links a::after{
  position: absolute;
  background-color: #38bdf8;
  box-shadow: 0 0 10px #38bdf8;
  transition: 0.3s;
  content: "";
  left: 0;
  bottom: -6px;
  width: 0;
  height: 2px;
}
.nav-links a:hover{
  color: #38bdf8
}
.nav-links a:hover::after,
.nav-links a.active::after {
  width: 100%;
}
.nav-links a.active{
    color: #38bdf8;
}

#nav-toggle{
  display: none;
}

.hamburger{
  display: none;
  font-size: 1.8rem;
  color: #e5e7eb;
}

.about{
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-grid{
  display: grid;
  margin: auto;
  padding: 1.5rem 2rem;
  align-items: center;
  max-width: 1200px;
  grid-template-columns: auto auto;
  gap: 50px;
}
.about-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column:1/3;
  order: 1;
}
.about-header h2{
  font-size: 2.6rem;
  letter-spacing: 2px;
  margin: 0.3rem 0;
  color: #38bdf8;
}

.about-text{
  order: 2;
}
.about-image{
  order:3;
  grid-area: 2/2/4/3;
  
}
.about-buttons{
  order: 2;
}
.about-image img{
  height: 300px;
  width: 600px;
  border-radius: 5px;
  
  border: 1.5px solid #38bdf8;
  object-fit: cover;
}
.about-text .intro{
  color: #38bdf8;
  letter-spacing: 2px;
  font-size: 0.8rem;
}
.about-text h2{
  font-size: 2.5rem;
  margin: 0.5rem 0;
}
.about-text h2 span{
  color: #38bdf8;
}
.about-text p{
  font-size: 1rem;
  letter-spacing: 1px;
}
.about-text .skills{
  display: flex;
  flex-direction: column;
}
.about-text .skills h3{
  font-size: 1.6rem;
  color: #38bdf8;
  margin: 0.3rem 0 0.1rem 0;
}
.about-text .skills .skills-btn a{
  padding: 0.55rem 0.8rem;
  font-size: 0.8rem;
  display: inline-flex;
  text-decoration: none;
  align-items: center;
  gap: 0.5rem;
  transition: all 0.3s ease;
  border-radius: 10px;
  border: 1px solid #38bdf8;
  color: #38bdf8;
}
.about-text .skills .skills-btn a:hover{
  background-color: #38bdf8;
  color: #020617;
}
.btn{
  padding: 0.75rem 1.6rem;
  border: 6px;
  text-decoration: none;
  font-size: 0.9rem;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  transition: all 0.3s ease;
  border-radius: 10px;
  
}
.btn.primary {
  background: #38bdf8;
  color: #020617;
  margin-bottom: 0.3rem;
}

.btn.primary:hover {
  box-shadow: 0 0 15px #38bdf8;
  transform: translateY(-2px);
  gap:0.7rem;
}

.btn.outline {
  border: 1px solid #38bdf8;
  color: #38bdf8;
}

.btn.outline:hover {
  background: #38bdf8;
  color: #020617;
  box-shadow: 0 0 15px #38bdf8;
}
.footer{
  background: #020617;
  text-align: center;
  padding: 1.8rem 1rem;
  font-size: 0.9rem;
}
.footer p {
  color: #e5e7eb;
  margin: 0.4rem 0;
}
.social-icons{
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.social-icons a{
  width: 42px;
  height: 42px;
  border: 1px solid #38bdf8;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #38bdf8;
  transition: all 0.3s ease;
}
.social-icons a:hover {
  background: #38bdf8;
  color: #020617;
  box-shadow: 0 0 12px #38bdf8;
}
.designer span {
  color: #38bdf8;
}

@media(max-width: 768px) {
  .hamburger{
    display: block;
  } 
  .nav-links{
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background-color: #020617;
    flex-direction: column;
    align-items: center;
    display: none;
    padding: 1.5rem 0;
  }
  #nav-toggle:checked ~ .nav-links{
    display: flex;
  }
  .about{
    height: auto;
  }
  .about-grid {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .about-header{
     grid-column: 1 / 2;
     order: 1;
  }
  .about-text {
    order: 2;
  }

  .about-image {
    grid-area:auto;
    order: 3;
    justify-self: center;
  }
  .about-buttons {
    order: 4;
    justify-content: center;
  }
  .about-image img {
    max-height: 220px;
    max-width: 100%;
    object-fit: cover;
  }
  .about-header h3 {
    text-align: center;
  }
}