*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: #e5e7eb;
    font-family: "Popins", Arial, sans-serif;
    background-color: #0f172a;
    overflow-x: hidden;
}
.header{
    background-color: #020617;
    height: 80px;
    position: sticky;
    top: 0;
    z-index: 9999;
}
.navbar{
    height: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 0 1.5rem;
}
.logo{
  color: #38bdf8;
  font-size: 1.7rem;
}
.nav-links{
  display: flex;
  list-style-type: none;
  gap: 1.4rem;
}
.nav-links a{
    text-decoration: none;
    color: #e5e7eb;
    position: relative;
}
.nav-links a::after{
    content: "";
    position: absolute;
    background-color: #38bdf8;
    box-shadow: 0 0 10px #38bdf8;
    transition: 0.3s;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 2px;
}
.nav-links a:hover::after,
.nav-links a.active::after{
    width: 100%;
}
.nav-links a.active{
    color: #38bdf8;
}
.nav-links a:hover{
    color: #38bdf8;

}
#nav-toggle{
    display: none;
}
.hamburger{
    display: none;
    font-size: 1.8rem;
    color: #e5e7eb;
}
.contact{
    height: auto;
    max-width: 1200px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.contact-header{
    margin-bottom: 2rem;
}
.contact-header h2{
    font-size: 2.6rem;
    letter-spacing: 2px;
    margin: 0.3rem 0;
    color: #38bdf8;
}

.contact-form{
    width: 100%;
    max-width: 700px;
    padding: 2.5rem;
    background-color: #020617;
    border-radius: 16px;
    box-shadow: 0 0 30px #020617;
}
.contact-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
}
.contact-grid div{
    display: flex;
    flex-direction: column;
}
.email-field,
.message-field {
  grid-column: 1 / 3;
}

label{
    font-size: 0.75rem;
    letter-spacing: 1px;
    color: #e5e7eb;
    margin-bottom: 0.4rem;
}
input,
textarea {
  background-color: #0f172a;
  border: none;
  padding: 0.9rem;
  border-radius: 8px;
  color: #e5e7eb;
  font-size: 0.9rem;
  outline: none;
}

input:focus,
textarea:focus {
  border: 1px solid #38bdf8;
}
.submit {
  grid-column: 1 / 3;
  margin-top: 0.5rem;
  padding: 0.9rem;
  background-color: #38bdf8;
  border: none;
  border-radius: 10px;
  color: #020617;
  font-size: 0.9rem;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  transition: all 0.3s ease;
}
.submit:hover {
  box-shadow: 0 0 15px #38bdf8;
  transform: translateY(-2px);
}
.footer{
    background-color: #020617;
    text-align: center;
    padding: 1.8rem 1rem;
    font-size: 0.9rem;
}
.footer p{
    color: #e5e7eb;
    margin: 0.4rem 0;
}
.social-icons{
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    gap: 1rem;
}
.social-icons a{
    width: 42px;
    height: 42px;
    border: 1px solid #38bdf8;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #38bdf8;
    transition: all 0.3s ease;
}
.social-icons a:hover{
    background: #38bdf8;
    color: #020617;
    box-shadow: 0 0 12px #38bdf8;
}
@media (max-width: 768px){
    .hamburger{
        display: block;
    }
    .nav-links{
        position: absolute;
        top: 80px;
        width: 100%;
        left: 0;
        flex-direction: column;
        align-items: center;
        background-color: #020617;
        display: none;
        padding: 1.5rem 0;
    }
    #nav-toggle:checked ~ .nav-links{
        display: flex;
    }
    .contact-grid{
        grid-template-columns: 1fr;

    }
    .contact-form{
        padding: 2rem 1.5rem;

    }
    .contact-header h2{
        font-size: 1.6rem;
        text-align: center;
    }
    .submit {
        grid-column: 1 / 2;
    }
    .email-field,
.message-field {
  grid-column: 1 / 2;
}
}