*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Popins", Arial, sans-serif;
  background-color: #0f172a;
  color: #e5e7eb;
  overflow-x: hidden;
}

.header{
  height: 80px;
  background: #020617;
  position: sticky;
  top: 0;
  z-index: 9999;
}

nav{
  max-width: 1200px;
  height: 100%;
  margin: auto;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  color: #38bdf8;
  font-size: 1.7rem;
}
.nav-links{
  display: flex;
  list-style-type: none;
  gap: 1.4rem;
}
.nav-links a{
  text-decoration: none;
  color: #e5e7eb;
  position: relative;
}
.nav-links a::after{
  position: absolute;
  background-color: #38bdf8;
  box-shadow: 0 0 10px #38bdf8;
  transition: 0.3s;
  content: "";
  left: 0;
  bottom: -6px;
  width: 0;
  height: 2px;
}
.nav-links a:hover::after,
.nav-links a.active::after {
  width: 100%;
}
.nav-links a.active{
    color: #38bdf8;
}
.nav-links a:hover{
  color: #38bdf8
}

#nav-toggle{
  display: none;
}

.hamburger{
  display: none;
  font-size: 1.8rem;
  color: #e5e7eb;
}
.hero{
  height: 80vh;
  display: flex;
  align-items: center;
}
.hero-grid{
  max-width: 1200px;
  margin: auto;
  padding: 2rem 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.hero-text {
  order: 1;
}
.hero-image {
  display: flex;
  justify-content: center;
  grid-area: 1/2/3/3;
  order: 2;
}
.hero-buttons {
  order: 3;
}

.intro{
  letter-spacing: 2px;
  font-size: 0.8rem;
  color: #38bdf8;
}
.hero-text h2{
  font-size: 2.6rem;
  margin: 0.5rem 0;
}
.hero-text span{
  color: #38bdf8;
}
.changing-text{
  height: 28px;
  overflow: hidden;
  margin-bottom: 1rem;
}
.words::before{
  content: "Web Developer";
  animation: changeText 10s infinite;
}
@keyframes changeText{
  0%, 33% {
    content: "Web Developer";
  }
  34%, 66% {
    content: "UI/UX Designer";
  }67%, 100% {
    content: "Software Developer";
  }
}
.btn{
  padding: 0.75rem 1.6rem;
  border: 6px;
  text-decoration: none;
  font-size: 0.9rem;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  transition: all 0.3s ease;
  border-radius: 10px;
  background: #38bdf8;
  color: #020617;
}

.btn:hover {
  box-shadow: 0 0 15px #38bdf8;
  transform: translateY(-2px);
  gap:0.7rem;
}

.hero-image img{
  width: 260px;
  height: 260px;
  border-radius: 50%;
  max-width: 100%;
  aspect-ratio: 1/1;
  border: 4px solid #38bdf8;
  object-fit: cover;
}

.footer{
  background: #020617;
  text-align: center;
  padding: 1.8rem 1rem;
  font-size: 0.9rem;
}

.footer p {
  color: #e5e7eb;
  margin: 0.4rem 0;
}
.social-icons{
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.social-icons a{
  width: 42px;
  height: 42px;
  border: 1px solid #38bdf8;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #38bdf8;
  transition: all 0.3s ease;
}
.social-icons a:hover {
  background: #38bdf8;
  color: #020617;
  box-shadow: 0 0 12px #38bdf8;
}
.designer span {
  color: #38bdf8;
}

@media(max-width: 768px) {
  .hamburger{
    display: block;
  } 
  
 
  .nav-links{
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background-color: #020617;
    flex-direction: column;
    align-items: center;
    display: none;
    padding: 1.5rem 0;
  }
  #nav-toggle:checked ~ .nav-links{
    display: flex;
  }
  .hero{
    height: auto;
  }
  .hero-grid {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .hero-text {
    order: 1;
  }

  .hero-image {
    order: 2;
    grid-area: 2/1/3/2; 
  }
  .hero-buttons {
    order:3;
    justify-content: center;
  }
}